<label>Server name</label>
<!--input type="text"
 class="form-control"
 (input) = "onUpdateServerName($event)"
 /-->

 <input type="text"
 class="form-control"
[(ngModel)]="serverName"
 />
 <p>{{serverName}}</p>
<button class="btn btn-primary"
[disabled]="!allowsNewServer"
(click)="onCreateSever()">Add Sever</button>
<p>{{allowsNewServer}}</p>
<p [innerText]="allowsNewServer"></p>
<p>{{serverCreationStatus}}</p>

<p *ngIf="serverCreated; else noServer">Server was created and Server name is {{serverName}}</p>
<ng-template #noServer><p>No Server was Created test</p></ng-template>
<app-server></app-server>
<app-server></app-server>